#banner {
  position: relative;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
}
#navbar {
  height: 5.2em;
  background-color: rgba(59, 43, 56, 1) !important;
  padding: 0.5em 1em;
  z-index: 420;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a, a:active{
  color: black;
}

a.active {
  color: white;
}

#navbar div:last-child {
  margin-left: 5em;
}

#logo {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  max-width: 3.5em;
}

#menu {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
