#bg {
  background-image: url(../images/linda.png), url(../images/linda.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: contain, contain;
  background-color: rgba(59, 43, 56, 0.63);
}

#header {
  background-color: rgba(69, 54, 66, 0.76) !important;
}

#tabs {
  display: flex;
  justify-content: center;
  border-bottom: 0;
  list-style: none;
  margin: 0;
}

.rssTab {
  display: block;
  padding: 0.5em 1em;
  margin: 0 2em;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rssTab.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.rssTab:focus,
.rssTab:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  cursor: pointer;
}

.rssTab:focus,
.rssTab:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.5);
}

.rssImg {
  height: 3.5em;
}

#content {
  width: 40vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.rssTabContent:not(.active) {
  display: none;
}

.tab-title {
  padding: 0.5em;
}

.rssInput {
  height: 2em;
}

.total {
  font-size: 1.4em;
  margin: 0.5em 0;
}

#nextLink {
  font-size: 1.2em;
  background-color: rgba(59, 43, 56, 0.6);
  border-radius: 4px;
  color: rgba(185, 158, 180, 0.9);
  padding: 0.2em;
}
