#bg {
  background-image: url(../images/linda.png), url(../images/linda.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: contain, contain;
  background-color: rgba(59, 43, 56, 0.63);
}

#header {
  background-color: rgba(69, 54, 66, 0.76) !important;
}

#tabs {
  display: flex;
  justify-content: center;
  border-bottom: 0;
  list-style: none;
  margin: 0;
}

.rssTab {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 3rem;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rssTab.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.rssTab:focus,
.rssTab:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  cursor: pointer;
}

.rssImg {
  height: 3.5em;
}

@media (min-width: 900.98px) /*iPadPro and desktops*/ {
  .repel {
    margin-right: 4em;
  }

  .card-title {
    padding-top: 0.5em;
  }

  #tabContent {
    position: relative;
    top: -1.2em;
    width: 50vw;
  }

  .form-group {
    height: 2em;
  }
  .total {
    height: 1.5em;
    position: relative;
    left: 0.7em;
    border-radius: 0.2em;
  }
  .totalDiv {
    text-align: center;
  }

  .tab-pane {
    padding-bottom: 1em;
  }

  #menuButts {
    position: relative;
    top: -0.85em;
  }

  #nextLink {
    width: 20em;

    position: absolute;
    left: 8em;
    bottom: 35vh;
    background-color: rgba(255, 255, 255, 0.5);
  }
  #prev {
    width: 10em;
    height: 10em;
    position: absolute;
    left: -10em;
    bottom: 35vh;
  }
  #foodTab {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .foodInput {
    height: 2em;
  }
  #steelTab {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .steelInput {
    height: 2em;
  }
  #oilTab {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .oilInput {
    height: 2em;
  }
  #energyTab {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .energyInput {
    height: 2em;
  }
  .col-form-label {
    text-align: center;
  }

  .total {
    font-size: 1.4em;
  }
  #nextLink {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2em;
    padding: 0 0.2em 0.2em 0;
    background-color: rgba(59, 43, 56, 0.85);
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  li:target {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
