.dark {
  background-color: rgba(59, 43, 56, 0.9);
  color: aliceblue;
}

.med2 {
  background-color: rgba(59, 43, 56, 0.95);
  color: aliceblue;
}
.med {
  background-color: rgba(59, 43, 56, 0.65);
}
.lite {
  background-color: rgba(59, 43, 56, 0.3);
}

.summary-table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.summary-row {
  display: grid;
  border-top: 1px solid #dee2e6;
  grid-template-columns: 1fr 3fr;
}

.summary-row td {
  padding: 0.75rem;
}

@media (min-width: 900.98px) /*iPadPro and desktops*/ {
  .wrap {
    padding: 0;
    margin: 0;
    position: relative;
    top: -1em;
  }
  .repel {
    margin-right: 4em;
  }
}
.clear {
  clear: both;
}
.ta {
  text-align: center;
}
.fit {
  padding: 0;
  margin: 0;
  position: relative;
}
.slim {
  padding: 0;
  margin: 0;
}
